$primary-color: #212529;
$primary-background-color: #fff;
$focus-color: #ec1b22;
$disabled-color: #8b8b8b;
$control-color: #1e1f23;
$control-border-color: #b6b9bb;
$control-description-color: #666;
$item-selected-background-color: #e0e0e0;
$disabled-input-background-color: #eee;
